# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/

# Django
deli/.env
deli/db.sqlite3
deli/media/
deli/staticfiles/

# Node / Next.js
web/node_modules/
web/.next/
web/out/
web/_next_backup/
web/.env*

# Logs
*.log

# Markdown
*.md
web/dist/
