# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
env/
.venv/

# Django
db.sqlite3
media/
staticfiles/

# Environment Variables
.env

# macOS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Logs
*.log

# Coverage
.coverage
htmlcov/

# Migrations (optional)
# **/migrations/*.py
# !**/migrations/__init__.py