# macOS
.DS_Store

# Python
__pycache__/
*.py[cod]
*.sqlite3
.venv/
venv/

# Django
deli/.env
deli/db.sqlite3
deli/media/
deli/staticfiles/

# Node / frontend
web/node_modules/
web/.next/
web/out/
web/dist/
web/_next_backup/
web/.env
web/.env.local
web/.env.production
web/.env.development

# Logs
*.log

*md