[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
pillow = "*"
psycopg2-binary = "*"
python-dotenv = "*"
requests = "*"
geopy = "*"
django-filter = "*"
django = "*"

[dev-packages]

[requires]
python_version = "3.14"
